name: Step to connect to tailnet

on:
  workflow_call:

jobs:
  tailnet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      
      - name: Tailscale
        uses: tailscale/github-action@6cae46e2d796f265265cfcf628b72a32b4d7cade # v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          version: latest
          use-cache: 'true'
