name: Step to connect to tailnet

on:
  workflow_call:

jobs:
  tailnet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          version: latest
          use-cache: 'true'
