name: Sync Tailscale Policy

on:
  workflow_call:

jobs:
  acls:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Fetch version-cache.json
        id: fetch-old-version
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: ./version-cache.json
          key: version-cache.json-${{ github.run_id }}
          restore-keys: |
            version-cache.json-
            
      - name: Test ACL
        id: test-acl
        uses: tailscale/gitops-acl-action@6191a18b39b577dcc9ff733c89e231ea5d583519 # v1
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET}}
          tailnet: ${{ secrets.TS_TAILNET }}
          action: test
          
      - name: Deploy ACL
        if: github.event_name == 'push' && github.ref_name == 'main'
        id: deploy-acl
        uses: tailscale/gitops-acl-action@6191a18b39b577dcc9ff733c89e231ea5d583519 # v1
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET}}
          tailnet: ${{ secrets.TS_TAILNET }}
          action: apply

