name: Step to connect to tailnet

on:
  workflow_call:

jobs:
  tailnet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      
      - name: Tailscale
        uses: tailscale/github-action@a392da0a182bba0e9613b6243ebd69529b1878aa # v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          version: latest
          use-cache: 'true'
